/Ankh.Load
.svn/
obj/
/bin/GameData/*
!/bin/GameData/Core/
/bin/Binaries/*
/*/bin/*
/*/*/bin/*
_ReSharper.The Wizards/
*.user
/The Wizards.4.0.resharper
*.suo
/~$e Wizards Design.docx
/The Wizards.ncb
/testimpactdata.sdf
Thumbs.db
/NewModules/NewModules.csproj.ReSharper.user
/bin/Launcher.pdb
/bin/Launcher.exe

/bin/Test/*
/bin/Cache/*
/The Wizards.opensdf
/bin/Networking.pdb
/bin/Common.NetworkingVB.dll
/bin/Common.NetworkingVB.pdb
/bin/Common.NetworkingVB.xml
/bin/Launcher.exe
/bin/Launcher.pdb
/bin/Networking.dll
*.tmp.config
/bin/Debug
*.ipch
/bin/_Merged/Launcher.exe
/bin/_Merged/Launcher.pdb
/bin/Common.Core.dll
/bin/Common.Core.pdb
/bin/Game3DPlay.dll
/bin/Game3DPlay.pdb
/bin/ICSharpCode.SharpZipLib.dll
/bin/Launcher.exe.config
/bin/_Merged/Launcher.pdb
/bin/Launcher.vshost.exe.manifest
/The Wizards.sdf
/ColladaWrapper/collada-dom-2.2/*
/bin/Binaries/TestRunnerConfig.xml



