/Ankh.Load
.svn/
obj/
/bin/Binaries/*
!/bin/Binaries/TestRunnerConfig.xml
/*/bin/*
_ReSharper.The Wizards/
/*.user
/The Wizards.4.0.resharper
/ServerClient/bin/x86/Debug/Settings.xml
/ServerClient/bin/x86/Debug/Common.Core.dll
/ServerClient/bin/x86/Debug/Common.Core.pdb
/ServerClient/bin/x86/Debug/Common.Networking.dll
/ServerClient/bin/x86/Debug/Common.Networking.pdb
/ServerClient/bin/x86/Debug/Common.NetworkingVB.dll
/ServerClient/bin/x86/Debug/Common.NetworkingVB.pdb
/ServerClient/bin/x86/Debug/Common.NetworkingVB.xml
/ServerClient/bin/x86/Debug/CommonVB.dll
/ServerClient/bin/x86/Debug/CommonVB.pdb
/ServerClient/bin/x86/Debug/CommonVB.xml
/ServerClient/bin/x86/Debug/Common.dll
/ServerClient/bin/x86/Debug/Common.pdb
/ServerClient/bin/x86/Debug/ClientVB.dll
/ServerClient/bin/x86/Debug/ClientVB.pdb
/ServerClient/bin/x86/Debug/ClientVB.xml
/ServerClient/bin/x86/Debug/Client.exe
/ServerClient/bin/x86/Debug/Client.pdb
/ServerClient/bin/x86/Debug/AdminClientVB.dll
/ServerClient/bin/x86/Debug/AdminClientVB.pdb
/ServerClient/bin/x86/Debug/AdminClientVB.xml
/ServerClient/bin/x86/Debug/Server.exe
/ServerClient/bin/x86/Debug/Server.pdb
/ServerClient/bin/x86/Debug/ServerClientOud.dll
/ServerClient/bin/x86/Debug/ServerClientOud.pdb
/ServerClient/bin/x86/Debug/Editor.dll
/ServerClient/bin/x86/Debug/Editor.pdb
/ServerClient/bin/x86/Debug/NewModules.dll
/ServerClient/bin/x86/Debug/NewModules.pdb
/ServerClient/bin/x86/Debug/ServerClient.exe
/ServerClient/bin/x86/Debug/ServerClient.pdb
/ServerClient/bin/x86/Debug/StillDesign.PhysX.Net.dll
/ServerClient/bin/x86/Debug/StillDesign.PhysX.Net.pdb
/ServerClient/bin/x86/Debug/ICSharpCode.SharpZipLib.dll
/ServerClient/bin/x86/Debug/Sharp3D.Math.dll
/ServerClient/bin/x86/Debug/StillDesign.PhysX.Net.xml
/ServerClient/bin/x86/Debug/Game3DPlay.dll
/ServerClient/bin/x86/Debug/Game3DPlay.pdb
/ServerClient/bin/x86/Debug/Common.CoreVB.dll
/ServerClient/bin/x86/Debug/Common.CoreVB.pdb
/ServerClient/bin/x86/Debug/Common.CoreVB.xml
/ServerClient/bin/x86/Debug/NovodexWrapperXNA.dll
/ServerClient/bin/x86/Debug/NovodexWrapperXNA.pdb
/ServerClient/bin/x86/Debug/AdminClient.exe
/ServerClient/bin/x86/Debug/AdminClient.pdb
/ServerClient/bin/x86/Debug/CoreFileUpdater.exe
/ServerClient/bin/x86/Debug/CoreFileUpdater.pdb
/ServerClient/bin/x86/Debug/Novodex_C_Wrapper.dll
/The Wizards.suo
/ServerClient/bin/x86/Debug/TestResult.xml
/ServerClient/bin/x86/Debug/The Wizards.VisualState.xml
/ServerClient/bin/x86/Debug/_The Wizards.VisualState.xml
/ServerClient/bin/x86/Debug/Plugins/SamplePlugin.dll
/~$e Wizards Design.docx
/ServerClient/bin/x86/Release/*
/ServerClient/bin/x86/Debug/Content/Calibri.xnb
/ServerClient/bin/x86/Debug/Test/*
/ServerClient/bin/x86/Debug/WizardsEditorWorld/*
/ColladaTest/obj
/ColladaTest/bin
/ServerClient/bin/x86/Collada/*
/ServerClient/bin/x86/ColladaDebug/*
/ColladaWrapper/Debug/*
/ColladaWrapper/ColladaWrapper.vcproj.MHGAMEWORKBASE2.Michiel.user
/The Wizards.ncb
/ApplicationLogic/bin/*
/ApplicationLogic/obj/*
/ServerClient/bin/x86/Debug/ApplicationLogic.dll
/ServerClient/bin/x86/Debug/ApplicationLogic.pdb
/ServerClient/bin/x86/Debug/mock-assembly.dll
/ServerClient/bin/x86/Debug/nonamespace-assembly.dll
/ServerClient/bin/x86/Debug/nunit.core.interfaces.dll
/ServerClient/bin/x86/Debug/nunit.framework.extensions.dll
/ServerClient/bin/x86/Debug/nunit.mocks.dll
/ServerClient/bin/x86/Debug/nunit.util.dll
/ServerClient/bin/x86/Debug/test-assembly.dll
/ServerClient/bin/x86/Debug/test-utilities.dll
/ColladaWrapper/Release/BuildLog.htm
/ColladaWrapper/Release/ColladaWrapper.obj
/ColladaWrapper/Release/ColladaWrapper.pch
/ColladaWrapper/Release/stdafx.obj
/ColladaWrapper/Release/vc80.idb
/ColladaWrapper/Release/vc80.pdb
/ServerClient/bin/x86/Debug/ServerClient.exe.config
/ServerClient/bin/x86/Debug/TestFactoriesGenerated.dll
/ServerClient/bin/x86/Debug/TestFactoriesGenerated.pdb
/ServerClient/bin/x86/Debug/Tests/Networking/TestFactoriesGenerated.dll
/ServerClient/bin/x86/Debug/Tests/Networking/TestFactoriesGenerated.pdb
/ServerClient/bin/x86/Debug/ColladaSchema.dll
/ServerClient/bin/x86/Debug/ColladaSchema.pdb
/ServerClient/bin/x86/Debug/DirectX10.dll
/ServerClient/bin/x86/Debug/DirectX10.pdb
/Research/Deferred Rendering/Samples/DeferredShading2/*
/ServerClient/bin/x86/Debug/nunit.core.dll
/ServerClient/bin/x86/Debug/nunit.core.tests.dll
/ColladaWrapper/ColladaWrapper.vcproj.MHGameWorkBase2.MHGameWork.user
/ServerClient/bin/x86/Debug/nunit.framework.xml
/Common.Core/vpproject/Common.Core.vpp~*
/Visual Paradigm/The Wizards Model.vpp~*
/ColladaTest/ColladaTest.csproj.user
/ColladaWrapper/ColladaWrapper.vcxproj.user
/Common.Networking/Common.Networking.csproj.user
/CoreFileUpdater/CoreFileUpdater.csproj.user
/DirectX10/DirectX10.csproj.user
/AdminClient/AdminClient.csproj.user
/ApplicationLogic/ApplicationLogic.csproj.user
/Client/Client.csproj.user
/UnitTests/UnitTests.csproj.user
/TestResults/*
/ServerClient/bin/x86/Debug/Unit Tests.dll
/ServerClient/bin/x86/Debug/Unit Tests.pdb
/testimpactdata.sdf
Thumbs.db
/NewModules/NewModules.csproj.ReSharper.user
/bin/Launcher.pdb
/bin/Launcher.exe

/bin/Test/*
/The Wizards.opensdf
/bin/Networking.pdb
/bin/Common.NetworkingVB.dll
/bin/Common.NetworkingVB.pdb
/bin/Common.NetworkingVB.xml
/bin/Launcher.exe
/bin/Launcher.pdb
/bin/Networking.dll
*.tmp.config
/bin/Debug
*.ipch
/bin/_Merged/Launcher.exe
/bin/_Merged/Launcher.pdb
/bin/Cache/*
/bin/Common.Core.dll
/bin/Common.Core.pdb
/bin/Game3DPlay.dll
/bin/Game3DPlay.pdb
/bin/ICSharpCode.SharpZipLib.dll
/bin/Launcher.exe.config
/bin/_Merged/Launcher.pdb
/bin/Launcher.vshost.exe.manifest
/The Wizards.sdf
/ColladaWrapper/collada-dom-2.2/*