
# Ignore binary and obj folders (Except the /bin folder)

/*/bin/*
/*/*/bin/*
obj/


# Ignore all .svn folders just for safety

.svn/

# Dont ignore bin folder in libraries
!/_Libraries/*/bin

# The /bin folder

/bin/GameData/*
!/bin/GameData/Core/
!/bin/Scripts/
/bin/Binaries/*
/bin/Test/*
/bin/Cache/*

/bin/Launcher.pdb
/bin/Launcher.exe
/bin/Networking.pdb
/bin/Common.NetworkingVB.dll
/bin/Common.NetworkingVB.pdb
/bin/Common.NetworkingVB.xml
/bin/Launcher.exe
/bin/Launcher.pdb
/bin/Networking.dll

!/bin/Binaries/msvcm90d.dll
!/bin/Binaries/msvcp90d.dll
!/bin/Binaries/msvcr90d.dll
!/bin/Binaries/Microsoft.VC90.DebugCRT.manifest


# Visual studio user data
*.user
*.suo

# Various application junk
/Ankh.Load
_ReSharper.The Wizards/
/The Wizards.4.0.resharper
/~$e Wizards Design.docx
/The Wizards.ncb
/testimpactdata.sdf
Thumbs.db
/The Wizards.opensdf
*.tmp.config
/bin/Debug
*.ipch
/bin/_Merged/Launcher.exe
/bin/_Merged/Launcher.pdb
/bin/Common.Core.dll
/bin/Common.Core.pdb
/bin/Game3DPlay.dll
/bin/Game3DPlay.pdb
/bin/ICSharpCode.SharpZipLib.dll
/bin/Launcher.exe.config
/bin/_Merged/Launcher.pdb
/bin/Launcher.vshost.exe.manifest
/The Wizards.sdf
/ColladaWrapper/collada-dom-2.2/*
/bin/Binaries/TestRunnerConfig.xml


/NsightRunner/Interm/
/NsightRunner/Debug/


/NsightRunner/Release/
/Release/NsightRunner.exe
/Release/NsightRunner.pdb
/bin/Dotway.WPF.Controls.dll
/bin/nunit.framework.dll
/bin/Dotway.WPF.Controls.dll
/bin/nunit.framework.dll/bin/nunit.framework.xml

*.~*
/packages/*
/bin/CommonVB.dll
/bin/CommonVB.pdb
/bin/CommonVB.xml
/bin/Binaries/msvcr90d.dll
/bin/Binaries/Microsoft.VC90.DebugCRT.manifest
/bin/Binaries/msvcm90d.dll
/bin/Binaries/msvcp90d.dll