<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.1" targetFramework="net40" />
  <package id="Autofac.Extras.AggregateService" version="3.0.4" targetFramework="net40" />
  <package id="bbv.Common" version="7.1.12149.1635" targetFramework="net40" />
  <package id="bbv.Common.AsyncModule" version="7.2.12149.1635" targetFramework="net40" />
  <package id="bbv.Common.StateMachine" version="7.4.12149.1635" targetFramework="net40" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.2.0" targetFramework="net40" />
  <package id="NSubstitute" version="1.7.2.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="PostSharp" version="3.0.35" targetFramework="net40" />
  <package id="PostSharp.Patterns.Model" version="3.0.35" targetFramework="net40" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net40" />
</packages>